<div class="blade-static">
    <div class="form-group">
        <div style="display: flex;align-items: center;">
            <div class="form-input" style="flex-grow: 1;">
                <div class="form-input __other">
                    <input placeholder="{{ 'platform.placeholders.search-keyword' | translate }}" ng-model="blade.searchKeyword" ng-keyup="$event.which === 13 && blade.refresh()" style="width: 80%;" />
                    <button class="btn __other contact-list __btn-remove" type="button">
                        <i class="btn-ico fa fa-remove" title="Clear" ng-click="clearKeyword()"></i>
                    </button>
                </div>
                <p class="form-count">{{'platform.list.count' | translate}}: <span class="count">{{pageSettings.totalItems | number:0}}</span></p>
            </div>
        </div>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block" ng-init="setGridOptions('memberlist-grid', {
                    useExternalSorting: true,
                    data: 'listEntries',
                    rowTemplate: 'contact-list.row.html',
                    rowHeight: 61,
                    columnDefs: [
                                { name: 'fullName', displayName: 'gdpr.blades.contact-list.labels.full-name', sort: { direction: uiGridConstants.ASC } },
                                { name: 'email', displayName: 'gdpr.blades.contact-list.labels.email', sort: { direction: uiGridConstants.ASC } },
                                { name: 'login', displayName: 'gdpr.blades.contact-list.labels.login', sort: { direction: uiGridConstants.ASC } }
                        ]})">
            <div class="note" ng-if="!listEntries.length">{{ 'platform.list.no-data' | translate }}</div>
            <div class="table-wrapper" ng-if="listEntries.length">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-height></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="contact-list.row.html">
    <div ng-click="grid.appScope.selectNode(row.entity)" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.id===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell context-menu="grid.appScope.contextMenuEntity = row.entity" data-target="cml_menu"></div>
</script>
